
/* login.css */

body {
  font-family: Arial, sans-serif;
  background-image: url('OIP\ \(2\).jpg'); /* Replace 'background.jpg' with your image file path */
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.sec{ 
  color: #ffffff;
  background: url("d540883c15719ec55fe74429bd9fdd27.jpg");
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 270px;
  max-height: 400px;
  width: 90%;
  
}


h1 {
  color:rgb(205, 94, 63);
  font-size: xx-large;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


/* if login Failed...*/

.error-message {
  color: red;
}


/* If Login Sucess... */

.success-message {
  color: green;
}


